.hero-video-container.home-video:after {
  content: "";
  width: 100%;
  height: 117%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 27%) 0,
    rgb(0 0 0 / 27%) 10%,
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.05) 70%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
 #about-section .card-img,#about-section .card-img-top {
  object-fit: cover;
  height: 300px;
}

#carouselExampleIndicators .carousel-item{
  height: 90vh;
}
ul.nav {
  list-style: none;
  display: inline-flex;
}
.menu {
  z-index: 9;
}
.menu .col-md-8 {
  float: right;
  top: -3rem;
  text-align: right;
  z-index: 9;
}
.videotext {
  color: #fff;
  margin-top: -40%;
  z-index:3;
}
.card-deck .card {
  z-index: 2;
}
.menu-image {
  display: none;
}
ul.nav li {
  padding: 0 1rem;
}
.hero-video-container video {
  margin-top: -7.2rem;
}
nav a {
  color: #fff;
  font-weight: 600;
}
.topleft {
  text-align: left;
  padding-left: 3rem;
}
.topright {
  text-align: right;
  padding-right: 3rem;
}
.title-image {
  margin-top: 1.4rem;
}
.menu.col-md-12.cover {
  background-image: url(images/images/aboutus.jpg);
  height: 500px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu.col-md-12.cover.service {
  background-image: url(images/images/services.jpg);
}
.menu.col-md-12.cover.contact {
  background-image: url(images/images/contactus.jpg);
}
.menu.col-md-12.cover.gallery {
    background-image: url(images/lab/gallery.jpg);
  }
.top-section {
  z-index: 9;    position: absolute;
  width: 100%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #801336;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a:hover {
  text-decoration: none;
  color: #ccddeb;
}
.contacth {
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 5rem;
  padding-top: 10%;
}
@media screen and (max-width: 767px) {
  .SlideShow_Height {
    height: 315px !important;
  }
  .col-md-8.hidden-xs {
    display: none;
  }
  .title-image {
    width: 80%;
    float: left;
  }
}
@media screen and (max-width: 767px) {
  .topright {
    text-align: center;
  }
  .menu .col-md-8 {
    top: 1rem;
    padding: 0;
  }
  .hero-video-container video {
    margin-top: -4.3rem;
  }
  .topleft {
    text-align: center;
    padding-left: 0;
  }
  .top-section .container-fluid {
    padding: 1rem;
  }
  .cover .col-md-8 {
    display: none;
  }
  .menu-image {
    display: block;
    margin-top: 5%;
  }
  .hero-video-container.home-video:after {
    top: 76px;
  }
  .videotext {
    margin-top: -32%;
  }
  .title-h3 {
    font-size: 14px;
    display: inline-block;
  }
  .title-heading {
    font-size: 0;
  }
  .hero-video-container.home-video:after {
    height: auto;
  }
  #title .container-fluid {
    padding: 0;
  }
  .contacth {
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    padding-top: 30%;
  }
  .menu.col-md-12.cover {
    height: 200px;
  }
}
.menu.col-md-12.cover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 27%) 0,
    rgb(0 0 0 / 27%) 10%,
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.05) 70%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.menu.col-md-12.cover .col-md-4 {
  z-index: 9;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .col-md-8.hidden-xs {
    display: none;
  }
}
.testimonial {
  background-image: url(../images/testimonial-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 85px 0 150px;
}
.testimonial:before {
  position: absolute;
  content: "";
  background: rgba(var(--ins-brand-rgb-color), 0.93);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
#fixed-social {
  position: fixed;
  top: 40vh;
  z-index: 3;
}
#fixed-social a {
  color: #fff;
  display: block;
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  width: 60px;
  margin-bottom: 1px;
  z-index: 2;
  background-color: #273656;
}
#fixed-social i {
  color: #000;
  font-size: 2rem;
}
#fixed-social i svg {
  width: 70%;
}
#fixed-social i svg {
  width: 70%;
}
#fixed-social a span {
  line-height: 60px;
  left: 80px;
  position: absolute;
  text-align: center;
  width: 185px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
  background-color: #15ff00;
  color:#273656;
}
#fixed-social a:hover>span {
  visibility: visible;
  left: 61px;
  opacity: 1;
}
.copyright .pull-right{float:right;}
.copyright .pull-left{float:left;}
.introdiv{
  background-image: url(images/logo_new/png/onlylogo.png);
  background-size: contain;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}
/*#15ff00*/
