body {
  font-family: "Montserrat";
  text-align: center;
  font-family: Poppins, sans-serif ;
  overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}
p {
  line-height: 2;
}
.top-section {
  background-color: #741013;
  color: #fff;
  margin-bottom: 4px;
  padding-bottom: 4px;
}
.top-section .container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 0;
}
.top-section p {
  margin-bottom: 0;
}
.top-icon {
  margin-right: 10px;
}
.contact{
  width:100%;
}

/* titleImage */
.bg {
  height: 100%; /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
} /* Containers */
.container-fluid {
   padding: 7% 11%; 
    
} 
/* .introcont{
  padding: 10% 11%;
  padding-top: 0;
} */
/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 16px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Bold";
} 
nav a:hover {
  color: #fedb35;
 
}
/* Title */
#title .container-fluid {
  padding: 3% 12% 7%;
  text-align: left;
}
.title-image {
  width: 65%;
  border-radius: 1%;
}
.title-heading {
  font-size: 4rem;
}
.about-img {
  width: 100%;
  height: 95vh;
}
.about-background {
  background-color: #6886c5;
  color: #fff;
}
.about-background h1 {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#about-section .container-fluid {
  height: 100%;
} /* design & development */
.skills {
  
  background-color: #0c0a0abf;
  color: #dae1e7;
  font-family: "Montserrat";
}

.skills h2 {
  margin-bottom: 0%;
}
.skill-row {
 /* margin: 0px 0px 0px 0px; */
 /* margin: 20px auto 80px auto; */
  width: 50%;
  text-align: left;
}
.weoffer{
  padding-top: 7vh;    margin-left: 66vh;text-align: left;
}
.comp-img {
  border-radius: 50%;
  width: 60%;
  /* float: left; */
  /* margin-right: 10vh; */
  margin: 40px 0 0 0;
}
.chilies {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section{overflow-x: hidden;} 
html,body{overflow-x: hidden;}
.contact-me {
  background-color: #f7f7f7;
}
.getintouch {
  width: 40%;
  margin: 40px auto 60px;
} /* footer section */
.footer-p {
  font-size: 0.9rem;
  line-height: 1;
  text-align: left;
}
.footer-rule {
  height: 3px;
  background-color: #da2d2d;
}
.footer-section {
  background-color: #741013;
  color: #fff;
  padding: 5%;
  text-align: center;
}
.footer-small-heading {
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
}
.footer-small-subtitle {
  color: #fedb35;
  font-size: 1.3rem;
  text-align: left;
 
}
.footer-small-contact-subtitle {
  color: #741013;
  font-size: 1.0rem;
  text-align: left;
  font-weight: 800;
  font-size: 28px;

}
.first-col {
  text-align: center;
}
.footer-icon {
  margin: 10px;
}
.footer-brand {
  font-family: "Ubuntu";
}
#services{
  background-image: url(images/header_images/lab-technician-mask-examines-test-tubes-utilizes-microscope-analysis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.copyright {
  background-color: #690c0f;
  
  color: #fff;
  text-align: center;
  padding: 0.5%;
  display: inline-table;
  width: 100%;
}
.copyright p {
  margin-bottom: 0;
}
.copyright p  a{
 color:#fff;}

 .whySection {
  width: 100%;
  float: left;
  height: auto;
  padding: 80px 0;
  position: relative;
  background: url(../images/whybanner.jpg) center center no-repeat;
  background-attachment: fixed;
  margin-top: 65px;
  z-index: 9;
}
.whySection:before {
  background: -moz-linear-gradient(left, rgba(159, 50, 36, 0.9) 0%, rgba(212, 23, 30, 0.9) 100%);
  background: -webkit-linear-gradient(left, rgba(159, 50, 36, 0.9) 0%, rgba(212, 23, 30, 0.9) 100%);
  background: linear-gradient(to right, rgba(159, 50, 36, 0.9) 0%, rgba(212, 23, 30, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b39f3224', endColorstr='#b3d4171e',GradientType=1 );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1028px) {
}
@media (max-width: 700px) {
  #title .container-fluid {
    text-align: center;
    padding: 3% 11% 7%;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .container-fluid {
    padding: 7% 11%;
  }
  .title-image {
    width: 100%;
    border-radius: 1%;
  }
  .title-heading {
    font-size: 3rem;
  }
  .title-h3 {
    font-size: 2rem;
  }
  .title-h2 {
    font-size: 1.3rem;
  }
  .skills h2 {
    margin-bottom: 0%;
  }
  .skill-row {
    margin: 50px auto 50px auto;
    width: 80%;
    text-align: left;
  }
  .services-h2 {
    font-size: 4.0rem;
  }
  .services-h3 {
    font-size: 2.3rem;
  }
  .services-p {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.4;
  }
  .comp-img {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 10px;
  }
  .chilies {
    border-radius: 50%;
    width: 100%;
    float: right;
    margin-bottom: 10px;
  } /* get in touch */
  .contact-h2 {
    font-size: 3rem;
  }
  .contact-h3 {
    font-size: 2.3rem;
  }
  .getintouch {
    width: 100%;
    /* font-size: 1.5rem; */
  }
  .contact-button {
    font-size: 1rem;
  } /* footer section */
  .footer-small-heading {
    color: #fff;
    font-size: 2.3rem;
    /* text-align: center; */
  }
  .footer-small-subtitle {
    color: #fedb35;
    font-size: 1.6rem;
    /* text-align: center; */
    
  }
  .footer-small-contact-subtitle {
    color: #741013;
    font-size: 1.8rem;

    font-weight: 900;
    font-size: 26px;
  }
  .footer-brand {
    font-size: 3rem;
    font-family: Ubuntu;
  }
  .footer-p {
    font-size: 1.2rem;
    line-height: 1.5;
    /* text-align: center; */
  }
  .footer-icon {
    margin: 20px;
    font-size: 3rem;
  }
  .footer-section.container-fluid{
    position: relative;
    z-index: 9;
  }
  .copyright {
    
    color: #fff;
    text-align: center;
    padding: 0.5%;
  }
 
  .copyright p {
    margin-bottom: 0;
  }
  .whySection {
    padding: 15px 0;
    margin-top: 15px;
}
.servicesDetails ul {
  font-size: 1.5rem;
  text-align:left;
  margin: 0px 0px;
}

}
.servicesDetails ul {
  font-size: 1.5rem;
  text-align:left;
  margin: 100px auto;
}
.ofertas-bg{
  color: #ffffff;
  background-color: #7A1600;
}

.oferta{
  background-color: #BD2909;
  display: inline;
  width: 320px;
  padding: 25px;
  color: #FFAE00;
}
.productos, .ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  
}

.producto, .oferta {
  color: #FFAE00;
    text-align: center;
    margin-bottom: 30px;
}

.producto img, .oferta img {
    max-width: 100%;
}

.producto h3, .oferta h3 {
    font-size: 20px;
    margin-top: 10px;
}

.producto p, .oferta p {
    font-size: 18px;
    color: #FFAE00;
}
#package .packageBlock,
#package .packageBlock ul {
  padding: 20px 10px;
  border: 1px solid #f0f0f0;
}
#package .packageBlock ul {
  margin-bottom: 20px;
}
.packagebtn, .packagebtn:hover, .packagebtn:focus {
    display: inline-block;
    width: auto;
    height: 60px;
    padding: 0 30px;
    border-radius: 30px;
    background: #d4171e;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}
.fullpackagebtn, .fullpackagebtn:hover, .fullpackagebtn:focus {
    display: inline-block;
    width: auto;
    height: 60px;
    padding: 0 30px;
    border-radius: 30px;
    background: #d4171e;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    margin-top: 30px;
}
.mostpopular {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}