@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
.hero-video-container.home-video:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 27%) 0,
    rgb(0 0 0 / 27%) 10%,
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.05) 70%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
/* .win .hero-video-container.home-video:after{
  height: 117.4%;
} */
 #about-section .card-img,#about-section .card-img-top {
  object-fit: cover;
  height: 300px;
}
.card-container {
  width: 100%;
  height: 320px; /* Adjust this value as needed */
  overflow: hidden; /* Optional: hides any overflow if the image is too large */
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carouselExampleIndicators .carousel-item{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* height: 100vh; */
  overflow: hidden;
 
}
ul.nav {
  list-style: none;
  display: inline-flex;
}
.menu {
  z-index: 9;
  background-color: #741013;
}
.menu.col-md-12{
  top:36px;
}
.menu .col-md-8 {
  float: right;
  top: -3rem;
  text-align: right;
  z-index: 9;
}
.videotext {
  color: #fff;
  margin-top: -40%;
  z-index:3;
}
.card-deck .card {
  z-index: 2;
}
.menu-image {
  display: none;
}
ul.nav li {
  padding: 0 1rem;
}
/* .hero-video-container video {
  margin-top: -7.2rem;
} */
nav a {
  color: #fff;
  font-weight: 600;
}
.topleft {
  text-align: left;
  padding-left: 3rem;
}
.topright {
  text-align: right;
  padding-right: 3rem;
}
/* .title-image {
  margin-top: 1.4rem;
} */
 .menu .col-md-4{text-align: left;}
 .home-video{position: absolute;}
.menu.col-md-12.cover {
  background-image: url(images/header_images/female-researcher-male-colleague-laboratory-with-test-tubes-safety-glasses.jpg);
  height: 500px;
  height: 50vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu.col-md-12.cover.service {
  background-image: url(images/header_images/medical-banner-with-doctor-holding-vial.jpg);
}
.menu.col-md-12.cover.contact {
  background-image: url(images/header_images/pexels-polina-tankilevitch-3735782.jpg);
}
.menu.col-md-12.cover.career {
  background-image: url(images/header_images/pexels-artempodrez-5726835.jpg);
}
.menu.col-md-12.cover.gallery {
    background-image: url(images/header_images/scientist-working-with-chemical-substances.jpg);
  }
.top-section {
  z-index: 9;    position: absolute;
  width: 100%;min-height: 41px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #741013;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a:hover {
  text-decoration: none;
  color: #ccddeb;
}
.galleryhead h1{
padding:4rem 2rem;
}

.careerDetails.container-fluid {
  padding: 5% 11%;
}
.container-fluid.services{
  padding: 5% 11%;
} 

.services .introtext{
  text-align:left;
}
.abtintro1 {text-align:left;}
.contacth {
  text-align: left;
  color: #fff;
  color:#741013;
  font-weight: 800;
  font-size: 5rem;
  /* padding-top: 10%; */
  z-index: 3;
  position: relative;
  padding: 2rem 0;

}
.introcont{
  text-align: left;
}
.aboutfirstSec{
  text-align: justify;
}
/* .aboutimg1,.aboutimg2{border: 5px solid #741013;} */
.aboutimg2{margin:15px 0;}
.abtintro{text-align: justify;text-align: left;}
.abtdoc{width:50%;    border-radius: 15px;}
.abtdoc.abthkumar{width:75%}
.text-secondary{
min-height:372px;
}
.abtintro p{text-align: justify;}
.hidden-lg,.hidden-md{display:none;}
.hidden-xs{display:block;}
@media screen and (max-width: 767px) {
  .SlideShow_Height {
    height: 315px !important;
  }
  .col-md-8.hidden-xs {
    display: none;
  }
  .services .contacth{
    padding: 2rem 0 4px 0;
  }
  .careerDetails.container-fluid {
    padding: 12% 11%;
}
  .hidden-xs{display: none;}
  .hidden-lg,.hidden-md{display:block;}
  .title-image {
    width: 80%;
    float: left;
  }
  footer .title-image {
    width: 100%;
    
  }
  .AboutAuthorities .py-5 {
    padding-bottom: 0rem !important;
}
  .menu {

    display: flex;
}
  #carouselExampleIndicators .carousel-item{
    margin-top: 36px;
    height:200px;
    object-fit: fill;
  }
  .carousel-indicators{
    z-index: 8!important;
  }
  .hero-video-container.home-video:after{
    height: 26vh;
  }
  /* video{
    height: 31vh;
  } */
  .home-video {
    height: 26vh !important;        margin-top: 4vh;
}
.careerDetails .col-lg-6{width:50%;}
}
@media screen and (max-width: 767px) {
  body p{text-align: justify;}
  .topright {
    text-align: center;
  }
  .menu .col-md-8 {
    top: 1rem;
    padding: 0;
  }

  /* .hero-video-container video {
    margin-top: -6.4rem;
  } */
  .topleft {
    /* text-align: center; */
    padding-left: 15px;
  }
  .top-section .container-fluid {
    padding: 0.5rem;font-size:14px;
  }
  .menu.col-md-12 {
    top: 41px;
}
  .cover .col-md-8 {
    display: none;
  }
  .menu-image {
    display: block;
    margin-top: 2%;
  }
  .abtdoc,.abtdoc.abthkumar{width:100%;padding-bottom: 10px;}
  /* .hero-video-container.home-video:after {
    top: 76px;
  } */
  
  .videotext {
    margin-top: -40%;
  }
  .title-h3 {
    font-size: 14px;
    display: inline-block;
  }
  .title-heading {
    font-size: 0;display: none;
  }
  /* .hero-video-container.home-video:after {
    height: auto;
  } */
  #title .container-fluid {
    padding: 0;
  }
  .galleryhead h1 {
    padding: 1.5rem 1rem 0.5rem 1rem;
}
  .contacth {
    
    font-size: 32px;
    z-index: 3;
    position: relative;
    padding: 0 0;
  
  }
  .menu.col-md-12.cover {
    height: 200px;
  }
  .copyright .pull-right{
    text-align: center;
  }
  .copyright .pull-left{
    text-align: center;

  }
  .card-container {
  width: 100%;
  height: 630px; /* Adjust this value as needed */
  overflow: hidden; /* Optional: hides any overflow if the image is too large */
}

.card-img-top {
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
}
  .copyright .pull-left,.copyright .pull-right{float: none !important;        display: block;}

  .metrologo{
    width:100%;
  }
 footer .metrologo {
    /* width: 50%; */
padding: 1rem 4rem;
}
  h1{font-size: 2.2rem;}
  .hero-video-container.home-video:after {
   
    background-color: rgb(0 0 0 / 60%);
    background-image: none;
}

}
.menu.col-md-12.cover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 27%) 0,
    rgb(0 0 0 / 27%) 10%,
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.05) 70%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.menu.col-md-12.cover .col-md-4 {
  z-index: 9;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .col-md-8.hidden-xs {
    display: none;
  }
  footer .title-image {
    width: 100%;   
}
}
.testimonial {
  background-image: url(../images/testimonial-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 85px 0 150px;
}
.testimonial:before {
  position: absolute;
  content: "";
  background: rgba(var(--ins-brand-rgb-color), 0.93);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
#fixed-social {
  position: fixed;
  top: 40vh;
  z-index: 3;
}
#fixed-social a {
  color: #fff;
  display: block;
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  width: 60px;
  margin-bottom: 1px;
  z-index: 2;
  background-color: #741013;
}
#fixed-social i {
  color: #000;
  font-size: 2rem;
}
#fixed-social i svg {
  width: 70%;
}
#fixed-social i svg {
  width: 70%;
}
#fixed-social a span {
  line-height: 60px;
  left: 80px;
  position: absolute;
  text-align: center;
  width: 185px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
  background-color: #741013;
  color:#fff;
}
#fixed-social a:hover>span {
  visibility: visible;
  left: 61px;
  opacity: 1;
}
.copyright .pull-right{float:right;}
.copyright .pull-left{float:left;}
/* .introdiv{
  background-image: url(images/logo_new/png/onlylogo.png);
  background-size: contain;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
} */
/* .introtext{
  margin-top: -330px;
} */

footer a{color:#fff;}

.contacth:after {
  left: 0;
  bottom: 0;
  content: '';
  height: 4px;
  width: 100px;
  position: relative;
  border-radius: 10px;
  margin: 0;

  background : #741013;
  display: block;
}
@media screen and (max-width:767px){
  #fixed-social a {
 
    height: 35px;
    line-height: 32px;
    width: 35px;
  
  
  }
  #fixed-social a:hover>span {
  display:none;
}
.exclu{text-align: justify;}
.careerDetails{
  padding: 7% 2%;
}

}
@media screen and (max-width:380px){
  .hero-video-container.home-video:after{
    height: 31.5vh;
  }
}
/*#741013*/
